extends layout

block content
	form(method="post" action="/")
		.col-lg-4
			.form-group
				label(for="txtMessage") Cantidad de Mensajes
				br
				.input-group
					input#txtMessage.form-control(type='number', name='txtMessage', required)
					span.input-group-addon
						span.glyphicon.glyphicon-asterisk
				.input-group
					label
					input#chkIron(type='checkbox', name='chkIron', value='0')
					| IronMQ
				.input-group
					label
					input#chkTerminator(type='checkbox', name='chkTerminator', value='0')
					| TerminatorMQ
				#contentIP.input-group
			div(class="form-group col-md-13 text-right")
				input(id="btnEnviar" type="submit" class="btn btn-primary" value="Enviar Mensaje")