extends layout

block content

        form(method="POST" action="message")
        
          .col-lg-4
            .form-group
                label(for="txtMessage") Cantidad de Mensajes
                br
                .input-group
                    input#IMensajes.form-control(type='number', name='mensajes', required='')
                    span.input-group-addon
                        span.glyphicon.glyphicon-asterisk
                
                .input-group
                  label
                    input#opciones_1(type='checkbox', name='iron', value='0')
                    | IronMQ
                .input-group
                  label
                    input#opciones_2(type='checkbox', name='terminator', value='0')
                    | TerminatorMQ
                    

            div(class="form-group col-md-13 text-right")
                input(type="submit" class="btn btn-primary" value="Enviar Mensaje")





